/* STYLE RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul, ol, li {
    list-style: none; /* Убираем маркеры/номера */
    padding: 0;      /* Убираем внутренние отступы */
    margin: 0;       /* Убираем внешние отступы */
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
}

/* TAG STYLE */
a:hover{
    background-color: rgb(255, 0, 221);
    cursor: copy;
}
a:active{
    background-color: black;
    color: rgb(255, 213, 0);
}
body{ 
    background-color: rgb(203, 200, 200);
}
header{ 
    height: 100px;
    background-color: rgb(95, 95, 237);
    color: aquamarine;
}
main{
    min-height: calc(100vh - 200px);
    background-color: rgb(244, 239, 232);
    margin: 20px;
    padding: 20px;
    border-radius: 26px;
    line-height: 30px;
}
h1{
    margin-bottom: 20px;
}
footer{
    height: 100px;
    background-color: rgb(95, 95, 237);
    color: aquamarine;
    padding: 20px;
    display: flex;
    gap: 25px;
    align-items: center;
}
button{
    transition: 0.4s;
}
button:hover {
    transform: scale(1.1);
    opacity:  0.6;
   
}

/* CLASS STYLE */
.card {
    border: 1px solid gray;
    border-radius: 10px;
    width:fit-content;
    padding: 10px 20px;
}
.views {
    border-radius: 12px ; 
    color: rgb(161, 159, 159);
}
.position {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.fire{
    color: tomato;
}
.expirience {
    font-size: small;
    font-family: ms sans serif; 
    color: rgb(76, 76, 76); 
    background-color: rgb(211, 211, 211); 
    border-radius: 7px; 
    padding: 5px 11px;
    margin: 4px 0; 
    width: fit-content;
}
.company {
    font-family: ms sans serif
}
.city {
    font-family: ms sans serif
}
.reply {
    background: #0005f2; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    padding: 1rem 1.5rem; 
    margin-bottom: 1rem; 
    cursor: pointer; 
}  
.footer-link{
       padding: 5px;
       border-radius: 50px;
    }
.nav{
        height: 100%;
    }
.link-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        gap: 10px;
    }
.second-card{
    border: 1px solid rgb(255, 0, 51);
    border-radius: 10px; 
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}
.child{
    width: 200px;
    height: 200px;
    background-color: rgb(222, 107, 136);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px ;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(251, 255, 0);
}    
